{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to Universal Tech Academy.</h1>

            {% if session['username'] %}
                <h3>Let's get started.</h3>
            {% else %}
                <p>Already registered? <a href="{{ url_for('login') }}">Login</a></p>
            {% endif %}

            <div style="text-align:left;">
                <h2>Why Is There Air?</h2>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum. Tamquam vivendo mnesarchum ex est, stet sapientem ocurreret an eam.
                    Quod quodsi eu quo. Nisl enim docendi no pro, et vis senserit intellegam. Ei usu
                    graeco propriae deleniti, dicit saperet ex est. Pri ea alii facilisis rationibus,
                    has duis ullum noluisse ut.
                </p>
            </div>
        </div>
    </div>
{% endblock %}