{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form name="login" action="" method="post" novalidate>
                <fieldset class="form-group">
                    <legend>{{title}}</legend>
                    {{ form.hidden_tag() }}

                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=35) }}
                        {% for error in form.email.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=15) }}
                        {% for error in form.password.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>

                    <p>
                        {{ form.submit() }}
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}