{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <!--<h1>Welcome to Universal Tech Academy.</h1>-->

            {% for user in users %}
            <dl>
                <dt>User ID: {{user.user_id}}</dt>
                <dd>Email: {{user.email}}</dd>
                <dd>Password: {{user.password}}</dd>
            </dl>
            {% else %}
                <p>No users exist at this time.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}